<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=WSRV31019-IND;Initial Catalog=QA_EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;" providerName="System.Data.SqlClient"/>
    <add name="eMIMPanel" connectionString="Data Source=WSRV31019-IND;Initial Catalog=QA_EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;" providerName="Sql.Data.SqlClient" />
    <add name="SMPP" connectionString="Data Source=WSRV31019-IND;Initial Catalog=QA_EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;" providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="D:\API2SMPP\LOG\"/>
    
    <add key="PROCESS_INTERVAL_B4Q" value="5000"/>
    <add key="PROCESS_INTERVAL_B4Q_OTH" value="3000"/>
    <add key="PROCESS_INTERVAL_Q" value="5000"/>
    
    <add key="PROCESS_DTTEMP" value="300000"/>

    <add key="HOMECREDIT" value="Y" />
    <add key="HOMECREDITdomain" value="pr0.io/" />
    <add key="DLR_CALLBACK_APPLICABLE" value="N" />
    <add key="PROCESS_INTERVAL_DLRCALLBACK" value="10000"/>

    <add key="CLK_CALLBACK_APPLICABLE" value="N" />
    <add key="PROCESS_INTERVAL_CLKCALLBACK" value="10000"/>
    
    <add key="Subject" value="HOME CREDIT DELIVERY CALLBACK API ISSUE."/>
    <add key="Body" value="HOME CREDIT DELIVERY CALLBACK API ISSUE"/>
    <add key="MailFrom" value="support@myinboxmedia.io"/>
    <add key="Pwd" value="MiM#987654321"/>
    <add key="Host" value="smtpout.secureserver.net"/>
    <add key="Port" value="587"/>
    <add key="ToMail" value="sunil@myinboxmedia.com"/>
    <add key="CCMail" value="dilip@myinboxmedia.com;anirudh@myinboxmedia.com"/>
    
    <add key="NotificationQryTime" value="120"/>
  </appSettings>
</configuration>