<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=WSRV31019-IND;Initial Catalog=SMPPMAIN;User Id=sa;pwd=$uHeP5l8Una$i;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />

    <!--<add name="ConnectionString" connectionString="Data Source=WSRV33252-IND;Initial Catalog=SMPPMAIN;User Id=emimpaneluser;pwd=emim@123;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionStringPanel" connectionString="Data Source=WSRV33252-IND;Initial Catalog=emimpanel;User Id=emimpaneluser;pwd=emim@123;" providerName="System.Data.SqlClient" />
    <add name="Shortnr" connectionString="Server=localhost;Database=shortnr;Uid=root;Pwd=;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="D:\SMPPMAIN\Inetlab.SMPP\Samples\CS\API_DLR_RECEIPT\bin\Debug\LOG\" />

    <add key="GUID" value="abDdc2984e-f89273ac8723d-ef2893bc92-1"/>
    <add key="NO_OF_SMS" value="10000" />
    <add key="DLR_CALLBACK_APPLICABLE" value="N" />
    <add key="GSMSYSID" value="vipinmim" />
    <add key="DND2DLRPER" value="30" />
    <add key="PROCESS_INTERVAL" value="120000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="PROCESS_INTERVAL_DLRReceivedCheck" value="120000" />
    <add key="Notification_CheckDLRTime" value="5" />
    <add key="Notification_MailSubject" value="DLRReceivedCheck" />
    <add key="Notification_MailFrom" value="support@myinboxmedia.io" />
    <add key="Notification_Password" value="MiM#987654321" />
    <add key="Notification_Host" value="smtpout.secureserver.net" />
    <add key="Notification_TO" value="dilip@myinboxmedia.com" />
    <add key="Notification_CC" value="vikas.kumar@myinboxmedia.com" />
    <add key="Notification_Body" value="check mail body" />


    <add key="Notification_NoOfSMPPKey" value="4" />
    <add key="Notification_SMPPACCOUNTID1" value="check mail body" />
    <add key="Notification_SYSTEMID1" value="check mail body" />
    <add key="Notification_SMPPACCOUNTID2" value="check mail body" />
    <add key="Notification_SYSTEMID2" value="check mail body" />
    <add key="Notification_SMPPACCOUNTID3" value="check mail body" />
    <add key="Notification_SYSTEMID3" value="check mail body" />
    <add key="Notification_SMPPACCOUNTID4" value="check mail body" />
    <add key="Notification_SYSTEMID4" value="check mail body" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>