<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!--<add name="ConnectionString" connectionString="Data Source=WSRV33252-IND;Initial Catalog=SMPPMAIN;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=WSRV31019-IND;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />

    <!--<add name="ConnectionString" connectionString="Data Source=WSRV33252-IND;Initial Catalog=SMPPMAIN;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=WSRV31017-IND;Initial Catalog=SMPPMAIN;User Id=sa;pwd=#_Wr7$rEtRo1rIx;" providerName="System.Data.SqlClient"/>-->
    <add name="Shortnr" connectionString="Server=localhost;Database=shortnr;Uid=root;Pwd=;Allow User Variables=True;" providerName="MySql.Data.MySqlClient"/>
    
  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="D:\applog\"/>
    <add key="PROCESS_INTERVAL" value="5000"/>
    <add key="PROCESS_INTERVAL_Report" value="600000"/> <!--10 MINUTES-->
    <add key="PROCESS_INTERVAL_EXCEP" value="1200000"/> <!--20 MINUTES-->
    <add key="NO_OF_SMS" value="10000"/>
    <add key="GUID" value="ab1111dc2984e-f89273ac8723d-ef2893bc92-1"/>
    <add key="FORMCAPTION" value="SMPP CLIENT FOR SOUUNDS"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>