<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="eMIMPanel" connectionString="Data Source=WSRV31019-IND;Initial Catalog=MIMTRACK;User Id=sa;pwd=$uHeP5l8Una$i;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FAILOVER_INTERVAL" value="120000"/> <!--120 Second--> 
    <!--<add key="LOGPATH" value="D:\LINKEXT_SMSFAILOVER_SERVICE\LOG\"/>-->
    <add key="LOGPATH" value="D:\WinServiceSendMail\FailSendMail\FailSendMail"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>