<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=WSRV31019-IND;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Data Source=3.131.177.226;Initial Catalog=EMIMPANEL;User Id=sa;pwd=Mim@1qaz;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=WSRV33252-IND;Initial Catalog=emimpanel;User Id=emimpaneluser;pwd=emim@123;" providerName="System.Data.SqlClient" />-->
    <add name="eMIMPanel" connectionString="Data Source=WSRV33252-IND;Initial Catalog=EMIMPANEL;User Id=emimpaneluser;pwd=emim@123;" providerName="Sql.Data.SqlClient" />
    <add name="SMPP" connectionString="Data Source=WSRV33252-IND;Initial Catalog=SMPPMAIN;User Id=emimpaneluser;pwd=emim@123;" providerName="Sql.Data.SqlClient" />
    <add name="SMPPB4" connectionString="Data Source=WSRV33252-IND;Initial Catalog=SMPPMAIN_b4_1510;User Id=emimpaneluser;pwd=emim@123;" providerName="Sql.Data.SqlClient" />
    <add name="duke" connectionString="Data Source=WSRV33252-IND;Initial Catalog=DukeWishes;User Id=emimpaneluser;pwd=emim@123;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="D:\SMPPMAIN\Inetlab.SMPP\Samples\CS\SMPP_WIN_SERVICE\bin\Debug\LOG\" />
    <!--<add key="REPORTPATH" value="D:\deploy\linkext\linkext.io\DWReports\" />-->
    <!--for debug-->
    <add key="REPORTPATH" value="\\10.10.33.252\deploy\linkext\linkext.io\DWReports\" />
    <!--<add key="REPORTPATH" value="D:\Log\" />-->
    
    <add key="REPORTPATHserver" value="https://linkext.io/DWReports/" />
   
    <add key="timerPROCESSTest_Tick" value="30000" /> 
    
    <add key="PROCESS_INTERVAL" value="50000" />
    <add key="PROCESS_DELIVERY" value="120000" /> <!-- 2 MINS = 2 X 60 X 1000 -->
    <add key="PROCESS_DASHBOARD" value="900000" /> <!-- 15 MINS = 15 X 60 X 1000 -->
    <add key="SMS_SUMMARY" value="04:30" />
    <add key="SMS_SUMMARY_INTERVAL" value="50000" />


    <add key="SMS_LOWBAL1" value="08:45" />
    <add key="AutoSendRpt" value="03:00" />
    
    <add key="AutoSendRptMonthlyDate" value="05" />
   
    <!--<add key="AutoSendRptMonthlyDate" value="22" />-->
    
    <add key="SMS_LOWBAL2" value="16:45" />
    <add key="SMS_LOWBAL_INTERVAL" value="50000" /> <!-- 50 Sec = 50 X 1000 -->

    <add key="UNKNOWN2DLR" value="03:30" />
    <add key="UNKNOWN2DLR_INTERVAL" value="50000" />
    
    <add key="UNKNOWN2DLR4AC" value="22:00" />
    <add key="UNKNOWN2DLR4ACCOUNT" value="MIM2101450" />

    <add key="TIMERWHISHES_INTERVAL" value="59000" />
    <add key="PROCESS_INTERVAL_Report" value="1800000" />
    <add key="TIMERSMSCAMP_INTERVAL" value="50000" />
    <add key="SMS_CAMP" value="03:00" />
    
    <add key="OBDsetting" value="1" />
    <add key="REQBODY" value="D:\SMS_SCHEDULER\APIFile\" />
    <add key="Whatsappapikey" value="FE1F$FD9_738" />
    <add key="ProfileId" value="MIM2200038" />
    <add key="templateName" value="lowbalancelinkext" />



    <add key="Whatsappauth" value="Basic bXlpbmJveFdBdGVzdDpTaGl2YUAxOTA2" />
    <add key="ServiceForReject" value="Y" />

    <add key="APIKEY_OBD_INFOBIP" value="Basic TXlpbmJveHRyYW5zdm9pY2U6U2hpdmFAMTkwNg==" />
    <add key="URL_OBD_INFOBIP" value="https://vj1kpv.api.infobip.com/tts/3/single" />

    <add key="SCRATCHCARD_DBNAME" value="EMIMPANEL_SCR.." />

    <add key="PROCESS_DLR_CALLBACK" value="1" />
    <add key="IS_HOME_CREDIT" value="0" />
    
    <add key="EMAIL_TEMPLATE_INTERVAL" value="59000" />
    <add key="TimeRemainder1" value="07:00" />
    <add key="TimeRemainder2" value="07:10" />
    
    <!-- keys for monthly report -->
    <add key="AutoReportSendingTime" value="50000" />
    <add key="REPORTPATH1" value="D:\DWReports\" />

    <add key="Host" value="smtpout.secureserver.net" />
    <add key="SenderID" value="support@myinboxmedia.io" />
    <add key="PWD" value="MiM#987654321" />
    <add key="Subject" value="Monthly Report" />
    <add key="Body" value="Monthly Report for Account's are attached below." />
    <add key="ToMailId" value="shishir@myinboxmedia.com" />
    <add key="CCMailId" value="anirudh@myinboxmedia.com" />
    <add key="Day" value="1" />
    <add key="Hour" value="6" />
    <add key="Minute" value="0" />
    <!-- keys for monthly report -->
    
    <!-- keys for Notification Timmer -->
    <add key="AutoNotificationSendingTime" value="10000" />
    <add key="HostNotification" value="smtpout.secureserver.net" />
    <add key="SenderIDNotification" value="support@myinboxmedia.io" />
    <add key="PWDNotification" value="MiM#987654321" />
    <add key="SubjectNotification" value="SMPP Notification" />
    <add key="BodyNotification" value="SMPP Client Stoped." />
    <add key="ToMailIdNotification" value="dilip@myinboxmedia.com" />
    <add key="CCMailIdNotification" value="dilip@myinboxmedia.com" />    
    <!-- keys for Notification Timmer-->
    
    <!--Keys For DLRPercent Notification Timmer-->
    <add key="DLRPercentNotificationTime" value="300000" />
    <add key="SubjectPercentNotification" value="Delivery Notification" />
    <add key="BodyPercentNotification" value="Delivery Not Coming for Smpp Account ID.." />
    <add key="ToMailIdPercentNotification" value="dilip@myinboxmedia.com" />
    <add key="CCMailIdPercentNotification" value="dilip@myinboxmedia.com" />
    
    <add key="BodyPercentNotificationUSER" value="Delivery Not Coming for User Account ID.." /> <!--For UserCheck-->
    <!--Keys For DLRPercent Notification Timmer-->

    <add key="SMPPClientRunning1" value="D:\Vikas\WabaV2\WhatsApp\bin\Release\WhatsApp.exe" />
    <add key="SMPPClientRunning2" value="D:\Vikas\WabaV2\WhatsApp\bin\Release\WhatsApp.exe" />

    <!--DLRReport Download SIZE-->
    <add key="DLRFileDownloadSize" value="500000" />

    <add key="SMSLINKTOWABA_TIME" value="08:00" />
    <add key="SMSLINKTOWABA_INTERVAL" value="50000" />
    <add key="SMSClickCountProcess_INTERVAL" value="50000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>