<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="MIMRCSDB" connectionString="Data Source=10.10.31.35;Initial Catalog=EMIMPANEL_HC;User Id=sa;pwd=vephuphOfo=0;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
    <!--<add name="MIMRCSDB" connectionString="Data Source=wsrv31019-ind;Initial Catalog=EMIMRCS;User Id=RCSUser;pwd=RCS@123;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />-->
    <add key="PROCESS_INTERVAL" value="4000"/>
    <add key="FAILOVER_INTERVAL" value="6000"/>
    <add key="PROCESS_RCSINTERVAL" value="4000"/>
    <add key="no_of_record" value="10000"/>

    <add key="DELIVERY_INTERVAL" value="1000"/>
    <add key="DAYSUMMERY_INTERVAL" value="50000"/>
    <add key="DASHBOARD_INTERVAL" value="300000"/>
    
    <add key="DaySimmeryTime" value="9:00 PM"/>
    
    <!--RCSMessageService MIMRCSDev-->
    
    <add key="LOGPATH" value="D:\Rabi\MimSenddata\MimSenddata\Log\"/>
    <add key="RCSauthkey" value="App dea4c1493b68dd1c6456557b488ddb0f-636a4a02-7b9c-4629-a812-092204fdb102"/>
  </appSettings>
  
</configuration>