<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=WSRV31019-IND;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />
    <add name="SMPPB4" connectionString="Data Source=WSRV33252-IND;Initial Catalog=SMPPMAIN_b4_1510;User Id=emimpaneluser;pwd=emim@123;" providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
        <add key="PROCESS_INTERVAL_Report" value="1800000" />
         <add key="LOGPATH" value="D:\SMPPMAIN\Inetlab.SMPP\Samples\CS\SMPP_WIN_SERVICE\bin\Debug\LOG\" />
         <add key="REPORTPATH" value="\\10.10.33.252\deploy\linkext\linkext.io\DWReports\" />
  </appSettings>
  </configuration>