<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    
    <!--<add name="eMIMPanel" connectionString="Data Source=10.10.31.35;Initial Catalog=EMIMPANEL_HC;User Id=sa;pwd=vephuphOfo=0;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />-->      
    <!--<add name="eMIMPanel" connectionString="Data Source=WSRV31019-IND;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />-->
    <add name="eMIMPanel" connectionString="Data Source=10.10.31.19;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
    <add name="LINKB4SEND" connectionString="Data Source=WSRV31019-IND;Initial Catalog=LINKB4SEND;User Id=sa;pwd=$uHeP5l8Una$i;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />
    
    <!--<add name="eMIMPanel" connectionString="Data Source=WSRV33252-IND;Initial Catalog=EMIMPANEL_SM5;User Id=emimpaneluser;pwd=emim@123;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />-->
    <add name="ad360Global" connectionString="Data Source=WSRV33252-IND;Initial Catalog=AD360Global;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />

    <add name="sony" connectionString="Data Source=WSRV33252-IND;Initial Catalog=sonytestnew;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
    <add name="ClientMgmt" connectionString="Data Source=WSRV33252-IND;Initial Catalog=ClientMgmt;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
    <add name="scrach" connectionString="Data Source=10.10.31.19;Initial Catalog=EMIMPANEL_SCR;User Id=sa;pwd=Xv9he%He4Wgk;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />

    <add name="server128" connectionString="Data Source=WSRV33128-IND;Initial Catalog=SMPPSERVER;User Id=SA;pwd=CRo37DIg_CH8;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
    
    <add name="SMPP" connectionString="Data Source=WSRV33252-IND;Initial Catalog=SMPPMAIN;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
    <!--<add name="EMIMPANELEntities" connectionString="metadata=res://*/Models.EmpModel.csdl|res://*/Models.EmpModel.ssdl|res://*/Models.EmpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSRV33252-IND;initial catalog=EMIMPANEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <!--<add name="EMIMPANELEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSRV33252-IND;initial catalog=EMIMPANEL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EMIMPANELEntities" connectionString="Data Source=WSRV33252-IND;Initial Catalog=EMIMPANEL;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="System.Data.SqlClient" />
    <add name="callingCS" connectionString="Data Source=WSRV33252-IND;Initial Catalog=CallingApp;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
    <add name="waContactCS" connectionString="Data Source=WSRV33252-IND;Initial Catalog=WAContacts;User Id=emimpaneluser;pwd=emim@123;Max Pool Size=32767;Pooling=True;" providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="D:\projects\eMIM_API\LOG\" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HOMECR" value="0" />

    <!--Rabbit MQ ConnectionFactory-->
    <add key="RMQ_HostName" value="3.131.177.226" />
    <add key="RMQ_Port" value="5672" />
    <add key="RMQ_UserName" value="myinboxm" />
    <add key="RMQ_Password" value="myinboxmedia" />

    <!-- UNIVERSAL ACCOUNT - ILDO -->
    <add key="sms_provider_UIN" value="TUBE" />
    <add key="sms_ip_UIN" value="103.205.64.220" />
    <add key="sms_port_UIN" value="17220" />
    <add key="sms_acid_UIN" value="6102" />
    <add key="sms_systemid_UIN" value="MIM21483" />
    <add key="sms_password_UIN" value="mim86731" />
    
    <!-- UNIVERSAL ACCOUNT - ILDO SMSController-->
    <add key="sms_provider_UIN1" value="INFOBIP" />
    <add key="sms_ip_UIN1" value="smpp3.infobip.com" />
    <add key="sms_port_UIN1" value="8888" />
    <add key="sms_acid_UIN1" value="1109" />
    <add key="sms_systemid_UIN1" value="OTP_Trans" />
    <add key="sms_password_UIN1" value="Shiva@1906" />

    <!-- PRIORITY ACCOUNT  -->
    <add key="sms_provider_PRIORITY" value="INFOBIP" />
    <add key="sms_ip_PRIORITY" value="smpp3.infobip.com" />
    <add key="sms_port_PRIORITY" value="8888" />
    <add key="sms_acid_PRIORITY" value="1109" />
    <add key="sms_systemid_PRIORITY" value="OTP_Trans" />
    <add key="sms_password_PRIORITY" value="Shiva@1906" />

    <add key="sms_provider_PROMO" value="JIO" />
    <add key="sms_ip_PROMO" value="185.255.8.176" />
    <add key="sms_port_PROMO" value="8888" />
    <add key="sms_acid_PROMO" value="2407" />
    <add key="sms_systemid_PROMO" value="MyinboxXPROMO" />
    <add key="sms_password_PROMO" value="Shiva@1906" />

    <add key="sms_provider_PROMO2" value="JIO" />
    <add key="sms_ip_PROMO2" value="185.255.8.176" />
    <add key="sms_port_PROMO2" value="8888" />
    <add key="sms_acid_PROMO2" value="2407" />
    <add key="sms_systemid_PROMO2" value="MyinboxXPROMO" />
    <add key="sms_password_PROMO2" value="Shiva@1906" />

    <!-- DUBAI ACCOUNTS -->
    <add key="sms_provider_DUB" value="ETISALAT" />
    <add key="sms_ip_DUB" value="86.96.241.54" />
    <add key="sms_port_DUB" value="2775" />
    <add key="sms_acid_DUB" value="3709" />
    <add key="sms_systemid_DUB" value="mim" />
    <add key="sms_password_DUB" value="Nzjocp6&amp;" />

    <add key="sms_provider_DUB_2" value="KARIX" />
    <add key="sms_ip_DUB_2" value="smpp.instaalerts.zone" />
    <add key="sms_port_DUB_2" value="14612" />
    <add key="sms_acid_DUB_2" value="3501" />
    <add key="sms_systemid_DUB_2" value="MIMTRANS" />
    <add key="sms_password_DUB_2" value="Shiva@1906" />

    <add key="sms_provider_DUB_3" value="KARIX" />
    <add key="sms_ip_DUB_3" value="smpp.instaalerts.zone" />
    <add key="sms_port_DUB_3" value="14612" />
    <add key="sms_acid_DUB_3" value="2801" />
    <add key="sms_systemid_DUB_3" value="MIMUAEPROMO" />
    <add key="sms_password_DUB_3" value="Shiva@1906" />

    
    <add key="sms_provider_DUB_4" value="GUPSHUP" />
    <add key="sms_ip_DUB_4" value="202.87.33.182" />
    <add key="sms_port_DUB_4" value="9099" />
    <add key="sms_acid_DUB_4" value="1201" />
    <add key="sms_systemid_DUB_4" value="2000218106" />
    <add key="sms_password_DUB_4" value="yGXx6ebw" />

    <add key="sms_provider_DUB_5" value="GUPSHUP" />
    <add key="sms_ip_DUB_5" value="202.87.33.182" />
    <add key="sms_port_DUB_5" value="9099" />
    <add key="sms_acid_DUB_5" value="0501" />
    <add key="sms_systemid_DUB_5" value="2000213142" />
    <add key="sms_password_DUB_5" value="pTv8nFyp" />

    <!--UAE ACCOUNTS WHITEPANEL - TRANS -    msgtype = 20-->
    <add key="sms_provider_WP_UAE" value="KARIX" />
    <add key="sms_ip_WP_UAE" value="smpp.instaalerts.zone" />
    <add key="sms_port_WP_UAE" value="14612" />
    <add key="sms_acid_WP_UAE" value="1001" />
    <add key="sms_systemid_WP_UAE" value="sunilmimtrans1" />
    <add key="sms_password_WP_UAE" value="Shiva@1906" />

    <!--UAE ACCOUNTS WHITEPANEL - PROMO -    msgtype = 30-->
    <add key="sms_provider_WP_UAE_P" value="KARIX" />
    <add key="sms_ip_WP_UAE_P" value="smpp.instaalerts.zone" />
    <add key="sms_port_WP_UAE_P" value="14612" />
    <add key="sms_acid_WP_UAE_P" value="1001" />
    <add key="sms_systemid_WP_UAE_P" value="sunilmimpromo3" />
    <add key="sms_password_WP_UAE_P" value="Shiva@1906" />

    <!--KSA ACCOUNTS WHITEPANEL - PROMO -    msgtype = 50-->
    <add key="sms_provider_WP_KSA_P" value="BROADNET" />
    <add key="sms_ip_WP_KSA_P" value="141.94.101.39" />
    <add key="sms_port_WP_KSA_P" value="8899" />
    <add key="sms_acid_WP_KSA_P" value="301" />
    <add key="sms_systemid_WP_KSA_P" value="KSAPROMO" />
    <add key="sms_password_WP_KSA_P" value="KSAPROMO" />
    
    <!--KSA ACCOUNTS WHITEPANEL - TRANS -    msgtype = 40-->
    <add key="sms_provider_WP_KSA_T" value="BROADNET" />
    <add key="sms_ip_WP_KSA_T" value="141.94.101.39" />
    <add key="sms_port_WP_KSA_T" value="8899" />
    <add key="sms_acid_WP_KSA_T" value="601" />
    <add key="sms_systemid_WP_KSA_T" value="KSATRANS" />
    <add key="sms_password_WP_KSA_T" value="ksatrans" />

    <add key="sms_provider_KSA1" value="BROADNTKSA" />
    <add key="sms_ip_KSA1" value="141.94.101.39" />
    <add key="sms_port_KSA1" value="8899" />
    <add key="sms_acid_KSA1" value="1510" />
    <add key="sms_systemid_KSA1" value="UAEPROMO" />
    <add key="sms_password_KSA1" value="uaepromo" />

    <add key="sms_provider_INT" value="MONTY" />
    <add key="sms_ip_INT" value="185.135.128.114" />
    <add key="sms_port_INT" value="9003" />
    <add key="sms_acid_INT" value="1608" />
    <add key="sms_systemid_INT" value="InboxMty" />
    <add key="sms_password_INT" value="Medi@mty" />

    <add key="sms_provider_INT1" value="MOBIS" />
    <add key="sms_ip_INT1" value="180.179.210.40" />
    <add key="sms_port_INT1" value="2345" />
    <add key="sms_acid_INT1" value="1509" />
    <add key="sms_systemid_INT1" value="my_inbx3" />
    <add key="sms_password_INT1" value="inbx1921" />

    <add key="sms_provider_info_trans" value="INFOBIP" />
    <add key="sms_ip_info_trans" value="smpp3.infobip.com" />
    <add key="sms_port_info_trans" value="8888" />
    <add key="sms_acid_info_trans" value="8301" />
    <add key="sms_systemid_info_trans" value="Myinboxtrans16" />
    <add key="sms_password_info_trans" value="Shiva@1906" />

    <add key="sms_provider_VCON" value="AIRTEL_TELSP" />
    <add key="sms_ip_VCON" value="124.30.18.27" />
    <add key="sms_port_VCON" value="6161" />
    <add key="sms_acid_VCON" value="8001" />
    <add key="sms_systemid_VCON" value="myinboxtrnew7" />
    <add key="sms_password_VCON" value="Ld5389KW" />

    <add key="sms_provider_HC" value="INFOBIP" />
    <add key="sms_ip_HC" value="smpp3.infobip.com" />
    <add key="sms_port_HC" value="8888" />
    <add key="sms_acid_HC" value="8201" />
    <add key="sms_systemid_HC" value="Myinboxtrans14" />
    <add key="sms_password_HC" value="Shiva@1906" />

    <add key="sms_provider_HC2" value="INFOBIP" />
    <add key="sms_ip_HC2" value="smpp3.infobip.com" />
    <add key="sms_port_HC2" value="8888" />
    <add key="sms_acid_HC2" value="8301" />
    <add key="sms_systemid_HC2" value="Myinboxtrans11" />
    <add key="sms_password_HC2" value="Shiva@1906" />

    <add key="sms_provider_API" value="AIRTEL" />
    <add key="sms_ip_API" value="125.17.6.26" />
    <add key="sms_port_API" value="2875" />
    <add key="sms_acid_API" value="1609" />
    <add key="sms_systemid_API" value="SKV_MIB_SE9" />
    <add key="sms_password_API" value="mib@1234" />

    <add key="sms_provider_INFBP" value="INFOBIP" />
    <add key="sms_ip_INFBP" value="smpp3.infobip.com" />
    <add key="sms_port_INFBP" value="8888" />
    <add key="sms_acid_INFBP" value="1709" />
    <add key="sms_systemid_INFBP" value="Myinboxtrans3" />
    <add key="sms_password_INFBP" value="Vipinmim@9723" />

     <!--OTP ACCOUNT FOR LINKEXT API-->
    <add key="sms_provider_OTP3" value="VCONNEW" />
    <add key="sms_ip_OTP3" value="103.132.145.137" />
    <add key="sms_port_OTP3" value="16375" />
    <add key="sms_acid_OTP3" value="1110" />
    <add key="sms_systemid_OTP3" value="MYINOTP" />
    <add key="sms_password_OTP3" value="MYIN_333" />

    <add key="sms_provider_info_OTP" value="INFOBIP" />
    <add key="sms_ip_info_OTP" value="smpp3.infobip.com" />
    <add key="sms_port_info_OTP" value="8888" />
    <add key="sms_acid_info_OTP" value="1409" />
    <add key="sms_systemid_info_OTP" value="MyinboxOTP1" />
    <add key="sms_password_info_OTP" value="Vipinmim@9723" />

    <add key="sms_provider_OTP" value="AIRTEL_TELSP" />
    <add key="sms_ip_OTP" value="124.30.18.27" />
    <add key="sms_port_OTP" value="6161" />
    <add key="sms_acid_OTP" value="1109" />
    <add key="sms_systemid_OTP" value="myinboxotp8" />
    <add key="sms_password_OTP" value="gcp1tttF" />

    <add key="sms_acid_OTP_2" value="1101" />
    
    <add key="sms_provider_OTP_HC" value="INFOBIP" />
    <add key="sms_ip_OTP_HC" value="smpp3.infobip.com" />
    <add key="sms_port_OTP_HC" value="8888" />
    <add key="sms_acid_OTP_HC" value="1409" />
    <add key="sms_systemid_OTP_HC" value="MyinboxOTP2" />
    <add key="sms_password_OTP_HC" value="Shiva@1906" />

    <add key="sms_provider_OTP_HC1" value="INFOBIP" />
    <add key="sms_ip_OTP_HC1" value="smpp3.infobip.com" />
    <add key="sms_port_OTP_HC1" value="8888" />
    <add key="sms_acid_OTP_HC1" value="1407" />
    <add key="sms_systemid_OTP_HC1" value="OTPTrans3" />
    <add key="sms_password_OTP_HC1" value="Shiva@1906" />

    <add key="sms_provider_SIM" value="SIM" />
    <add key=" sms_ip_SIM" value="167.114.0.183" />
    <add key="sms_port_SIM" value="5599" />
    <add key="sms_acid_SIM" value="2901" />
    <add key="sms_systemid_SIM" value="vipinmim1" />
    <add key="sms_password_SIM" value="Vipinmim@1" />

    <add key="sms_provider_QTR" value="Broadnet" />
    <add key="sms_ip_QTR" value="141.94.101.39" />
    <add key="sms_port_QTR" value="8899" />
    <add key="sms_acid_QTR" value="1301" />
    <add key="sms_systemid_QTR" value="MyInBhRn" />
    <add key="sms_password_QTR" value="My9748" />

    <!--Qatar Key Start-->
    <add key="sms_provider_QTR2" value="TOBEPRECISESMS" />
    <add key="sms_ip_QTR2" value="smpp1.tobeprecisesms.com" />
    <add key="sms_port_QTR2" value="2775" />
    <add key="sms_acid_QTR2" value="1509" />
    <add key="sms_systemid_QTR2" value="myinboxtrans" />
    <add key="sms_password_QTR2" value="mynb6535" />
    <!--Qatar Key End-->
    
    <add key="sms_acid_API_ForFirstCry" value="2901" />
    
    <add key="WABADBO" value="WhatsAppBot.." />
    <add key="SMPPMAINDBO" value="SMPPMAIN_TX.." />

    <add key="SECURITY" value="Y" />
    
    <add key="EmailDBO" value="mimEMAIL.." />
    
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" targetFramework="4.6.1" />
    <customErrors mode="Off" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
