<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="ConnectionString" connectionString="Data Source=10.10.31.35;Initial Catalog=WhatsAppBot;User Id=sa;pwd=vephuphOfo=0;Max Pool Size=32767;Pooling=True;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="D:\Rabi\walog\log\"/>

    <add key="WABA_SESSION_INTERVAL" value="1000"/>
    <add key="WABA_PROCESS_TABLE_INTERVAL" value="60000"/>
    <add key="WABA_REPLY_INTERVAL" value="1000"/>

    <add key="WAapikey" value="4D822B235004469086E4649870C1CED0"/>
    <add key="WAauthkey" value="Basic bXlpbmJveFdBOlNoaXZhQDE5MDY="/>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>