<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="eMIMPanel" connectionString="Data Source=WSRV31019-IND;Initial Catalog=QA_EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;Connection Timeout=3600" providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="LOGPATH" value="D:\log\"/>
    <add key="LOGPATH1" value="D:\log\"/>
    <add key="dbname" value="QA_LINKB4SEND"/>
    
    <add key="PROCESS_INTERVAL" value="1000"/>
    <add key="NoOfRecordForTemplateCheck" value="100"/>

    <add key="GUID" value="PL1111dc2984e-f89273ac8723d-ef28937292-1"/>
    <add key="FORMCAPTION" value="SUBMIT TO TRAN FOR LINKEXT"/>
    <add key="SCRATCHCARD_DBNAME" value="EMIMPANEL_SCR.."/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>