<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=WSRV31019-IND;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;" providerName="System.Data.SqlClient"/>
    <add name="eMIMPanel" connectionString="Data Source=WSRV31019-IND;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;" providerName="Sql.Data.SqlClient" />
    <add name="SMPP" connectionString="Data Source=WSRV31019-IND;Initial Catalog=EMIMPANEL;User Id=sa;pwd=$uHeP5l8Una$i;" providerName="Sql.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="D:\API2SMPP_GYAN\LOG\"/>
    <add key="GUID" value="abDdc2984e-f89273ac8723d-ef28932243-1"/>
    <add key="PROCESS_INTERVAL_B4Q" value="5000"/>
    <add key="PROCESS_INTERVAL_B4Q_OTP" value="3000"/>
    <add key="PROCESS_INTERVAL_B4Q_OTH" value="3000"/>
    <add key="PROCESS_INTERVAL_B4Q_UAE" value="3000"/>
    <add key="PROCESS_INTERVAL_Q" value="5000"/>
    <add key="PROCESS_INTERVAL_BLK_Q" value="10000"/>
    <add key="PROCESS_DTTEMP" value="300000"/>
    <add key="PROCESS_INTERVAL_B4Q_API" value="3000"/>
    
    <add key="HOMECREDIT" value="N" />
    <add key="HOMECREDITdomain" value="pr0.io/" />
    
    <add key="DLR_CALLBACK_APPLICABLE" value="N" />
    <add key="PROCESS_INTERVAL_DLRCALLBACK" value="10000"/>
    <add key="PROCESS_INTERVAL_DLRCALLBACK_PP" value="1000"/>
    <add key="PROCESS_INTERVAL_DLRCALLBACK_FCP" value="30000"/>
    <add key="PROCESS_INTERVAL_SMPP_DtBind" value="30000"/>
    
  </appSettings>
</configuration>